<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <link rel="stylesheet" href="/folderContent.css" />
    </head>
    <body>
        <div class="folder-container">
            <div class="folder-nav">
                <% pathArray.forEach((path, i)=>{ %> <% if(path){ %>
                <a href="<%= pathArray.slice(0, i+1).join('/') %>">
                    <%= path %> >
                </a>
                <% } %> <% })%>
            </div>

            <div class="folders-container">
                <% folders.forEach(folder=>{ %>
                <div class="folder" data-id="<%= folder.id %>">
                    <div class="folder-name-cont">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                            />
                        </svg>
                        <p class="name"><%= folder.name %></p>
                    </div>
                    <a href="<%=path%>/<%=folder.name %>" class="view-folder">
                        <svg
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5v-4m0 4h-4m4 0l-5-5"
                            />
                        </svg>
                    </a>
                </div>
                <% }); %>
            </div>
            <% if(files) {%>
            <div class="files-container">
                <% if(files.length > 0) {%>
                <div class="files-label">
                    <p class="name">Files</p>
                </div>
                <% } %>

                <div class="files">
                    <% files.forEach(file=> { %>
                    <div class="file" data-id="<%= file.id %>">
                        <div class="file-name">
                            <svg
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                                />
                            </svg>
                            <p class="name"><%= file.name %></p>
                        </div>
                        <a
                            href="<%= locals.path %>/view/<%= file.id %>"
                            class="view-file"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5v-4m0 4h-4m4 0l-5-5"
                                />
                            </svg>
                        </a>
                    </div>
                    <% }) %>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>
